# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
out/
*.bundle.js
*.map

# Dependency directories
jspm_packages/
bower_components/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Parcel cache
.cache/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
*.lcov

# Next.js
.next/
out/

# Nuxt.js
.nuxt/
static/sw.js
static/workbox-*

# Svelte
.svelte-kit/
